.ag-root-wrapper{
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.drag-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.ag-header-container, .ag-header-row-column{
width: 100% !important;
    align-items: center;
}

